AI_SERVICE_HOST=127.0.0.1
AI_SERVICE_PORT={{AI_PORT}}
AI_SERVICE_LOG_LEVEL=INFO
AI_SERVICE_BACKEND_BASE_URL=http://127.0.0.1:{{BACKEND_PORT}}
AI_SERVICE_USE_CONTINUOUS_RUNNER=true
AI_SERVICE_VISIBLE_YOLO_MODEL_PATH=weights/visible-fire-smoke-yolov8s-960-hardneg-20260702.pt
AI_SERVICE_VISIBLE_YOLO_IMGSZ=960
AI_SERVICE_VISIBLE_CONFIDENCE_FLOOR=0.25
AI_SERVICE_VISIBLE_TARGET_CLASSES=fire,smoke
AI_SERVICE_THERMAL_DETECTOR_MODE=yolo
AI_SERVICE_THERMAL_YOLO_MODEL_PATH=weights/thermal-fire-yolov8n-640-gt-20260709.pt
AI_SERVICE_THERMAL_YOLO_IMGSZ=640
AI_SERVICE_THERMAL_YOLO_CONF_THRESHOLD=0.25
AI_SERVICE_SNAPSHOT_DIR={{ROOT_FORWARD}}/data/fire-snapshots
AI_SERVICE_SNAPSHOT_PUBLIC_BASE_URL=http://{{PUBLIC_HOST}}:{{WEB_PORT}}/api/v1/snapshots
